<h2>Restaurant: <%= @restaurant.name %></h2>
<p>Details: <%= @restaurant.address %></p>
<p>Phone number: <%= @restaurant.phone_number %></p>
<h2>Reviews</h2>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %></li>
  <% end %>
</ul>
<%= link_to "Add a review", new_restaurant_review_path(@restaurant) %>
<%= link_to 'All restaurants', restaurants_path %>
